<div class="container mt-5" style="max-width: 90%;">
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0">Danh sách chương</h4>
    </div>
    <div class="card-body">
      <a href="/admin/chapters/create" class="btn btn-success mb-3">Thêm chương</a>
      <%- include('table') %>
    </div>
  </div>
</div> 