body {
    margin: 0;
    padding: 0;
}

.d-flex {
    width: 50px; /* Thay đổi giá trị theo kích thước mong muốn */
    height: 300px; /* Thay đổi giá trị theo kích thước mong muốn */
}

.sidebar {
    width: 250px;
    height: auto;
    background-color: #343a40;
    color: white;
    padding-top: 20px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.sidebar a:hover {
    background-color: #495057;
}

.content {
    margin-left: 20px;
    padding: 20px;
}

#story-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.card-img-top {
    width: 100px;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.875rem;
    color: #666;
}