<div class="container mt-5" style="max-width: 90%;">
  <div class="card">
    <div class="card-header">
      <h4>Danh sách thể loại</h4>
    </div>
    <div class="card-body">
      <a href="/admin/categories/create" class="btn btn-success mb-3">Thêm thể loại</a>
      <%- include('table') %>
    </div>
  </div>
</div> 