<div class="sidebar">
    <h4 class="text-center">Menu</h4>
    <div id="before-login">
        <a href="/login" id="login-btn">Login</a>
    </div>
    <div id="after-login" style="display: none;">
        <a href="/profile">Profile</a>
        <a href="#" id="logout-btn">Logout</a>
    </div>
</div>
<script>
</script>